#ec-event-cover-container
{
    position:relative;
    height:30em;
    #ec-event-detail-org-img-container
    {
        width:inherit;
        height:inherit;
        position:absolute;
        top:0em;
        .ec-org-img
        {
            position:relative;
            top:7em;
        }
    }
    #ec-event-detail-event-title
    {
        width:inherit;
        height:inherit;
        position:absolute;
        top:0em;
        background-color:rgba(0,0,0,0.35);
    }
}

.ec-event-status
{
    background-color:#ffffff;
    width:100%;
    height:3em;
}

.ec-left-aside
{
    position:relative;
    top:5em;
}

.ec-event-detail-container
{
    .ec-sub-event-menu
    {
        ul
        {
            padding:1em;
            li
            {
                display:inline;
            }
            border-bottom: 1px solid #DDDDDD;
        }
    }
    
    #ec-event-description
    {
        font-family: 'Conv_weblysleekuil';
        overflow-y:hidden;
        min-height:5em;
        max-height:10em;
        position:relative;
        .ec-description-more
        {
            position:absolute;
            bottom:1em;
            right:1em;
        }
    }
    
    article
    {
        padding:1em;
        background-color:#fff;
    }
}
