#ec-main-event-bar
{
	background-color:#252525;
	.uk-navbar-brand
	{
		color:#AB1F2B;
		font-family: 'Conv_weblysleekuil';
		span
		{
			font-family: 'Conv_weblysleekuisb';
		}
	}
	.uk-navbar-nav
	{
		li a
		{
			color:white;
			font-family:'Oswald', sans-serif;
		}
		li a:hover
		{
			background-color:#C24A46;
		}
	}
}

.ec-view-content
{
	.uk-panel-header
	{
		background-color:#252525;
		.uk-panel-title
		{
			border-bottom:none;
			color:white;
			font-family:'Oswald', sans-serif;
			padding:0.5em;
		}
	}
}