body {
  background-color: #ffffff;
}
#ec-main-header {
  border-bottom: 0.2em solid #cc0000;
}
#ec-header-title h1 {
  color: #AB1F2B;
  margin-bottom: 0em;
  font-family: 'Conv_weblysleekuil';
}
#ec-header-title h1 span {
  font-family: 'Conv_weblysleekuisb';
}
#ec-header-title p {
  font-family: 'Conv_weblysleekuil';
  margin-top: 0.1em;
  color: #696969;
}
#ec-chart-nav {
  background-color: #252525;
}
#ec-chart-nav ul li a {
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
}
#ec-chart-nav ul li a:hover {
  background-color: #C24A46;
}
.ec-events {
  list-style-type: none;
}
.ec-events .ec-chart-title {
  padding: 0.5em;
  background-color: #C9201D;
  color: white;
  font-family: 'Oswald', sans-serif;
}
.ec-modal-chart {
  background-color: transparent;
}
.ec-modal-chart .ec-modal-chart-title {
  background-color: #C9201D;
  padding: 0.5em;
}
.ec-modal-chart .ec-modal-chart-title h2 {
  font-family: 'Oswald', sans-serif;
  color: white;
}
.ec-modal-chart .ec-modal-chart-cover {
  background-color: #fff;
  padding: 0.5em;
}
.ec-modal-chart .ec-modal-chart-body {
  background-color: #fff;
  padding: 0.5em;
}
.ec-modal-chart .ec-modal-chart-body .ec-modal-desc {
  background-color: #252525;
  padding: 0.2em 0.3em;
}
.ec-modal-chart .ec-modal-chart-body .ec-modal-desc h3 {
  color: whitesmoke;
  font-family: 'Oswald', sans-serif;
}
.ec-modal-chart .ec-modal-chart-body .ec-modal-cont {
  padding: 0.2em 0.3em;
}
.ec-modal-chart .ec-alt-cover {
  font-size: 2em;
  color: white;
  font-family: 'Conv_weblysleekuil';
}
#ec-more-event a {
  background-color: #252525;
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
}
#ec-more-event a:hover {
  background-color: #C9201D;
}
