body #wrap {
  min-height: 100%;
}
body #main {
  overflow: auto;
  padding-bottom: 22em;
}
body #ec-main-footer {
  border-top: #AB1F2B 2px solid;
  background: #252525;
  margin-top: -20em;
  height: -20em;
  clear: both;
}
body #ec-main-footer .ec-footer-title h1 a {
  color: #AB1F2B;
  font-family: 'Conv_weblysleekuil';
}
body #ec-main-footer .ec-footer-title h1 a span {
  font-family: 'Conv_weblysleekuisb';
}
body #ec-main-footer .ec-footer-title h1 a:hover {
  text-decoration: none;
}
body #ec-main-footer .ec-footer-title p {
  color: #585858;
}
body #ec-main-footer .ec-footer-detail .ec-social {
  font-size: 2.5em;
  padding: 0.5em;
  width: 68px;
  text-align: center;
}
body #ec-main-footer .ec-footer-detail .ec-copyright {
  color: #4b4b4b;
}
body #ec-main-footer .ec-footer-detail .ec-network h2 {
  margin: 0.1em;
}
body #ec-main-footer .ec-footer-detail .ec-network ul li a {
  color: #585858;
}
body #ec-main-footer .ec-footer-detail .ec-network ul li a:hover {
  color: #AB1F2B;
}
body #ec-main-footer .ec-footer-detail .ec-network ul li:nth-child(n+2) {
  border-top: 1px solid #3f3f3f;
}
#ec-main-event-bar {
  background-color: #252525;
}
#ec-main-event-bar .uk-navbar-brand {
  color: #AB1F2B;
  font-family: 'Conv_weblysleekuil';
}
#ec-main-event-bar .uk-navbar-brand span {
  font-family: 'Conv_weblysleekuisb';
}
#ec-main-event-bar .uk-navbar-nav li a {
  color: white;
  font-family: 'Oswald', sans-serif;
}
#ec-main-event-bar .uk-navbar-nav li a:hover {
  background-color: #C24A46;
}
.ec-view-content .uk-panel-header {
  background-color: #252525;
}
.ec-view-content .uk-panel-header .uk-panel-title {
  border-bottom: none;
  color: white;
  font-family: 'Oswald', sans-serif;
  padding: 0.5em;
}
@media (max-width: 768px) {
  #ec-main-footer {
    height: 100%;
  }
}
