body {
  background-color: #F2F2F7;
}
body #ec-chart-navbar {
  position: fixed;
  z-index: 10;
  top: 0em;
}
body #ec-chart-navbar .uk-navbar {
  background-color: #fff;
}
body #ec-chart-navbar .uk-navbar .uk-navbar-brand {
  background-color: #AB1F2B;
}
body #ec-chart-navbar .uk-navbar .uk-navbar-brand img {
  width: 8em;
}
body #ec-chart-navbar .uk-navbar .uk-navbar-nav > li > a {
  font-family: 'Conv_weblysleekuisb';
}
body #ec-chart-navbar .uk-navbar .uk-navbar-nav > li > a:hover {
  background-color: #C24A46;
  color: #fff;
  font-family: 'Conv_weblysleekuisb';
}
body #ec-chart-navbar .uk-navbar .uk-navbar-nav li.uk-parent.uk-open > a {
  color: #fff;
  background-color: #C24A46;
}
body .ec-chart-container {
  margin-top: 4em;
  padding: 0.5em;
  overflow: hidden;
}
body .ec-chart-cycle {
  position: relative;
}
body .ec-chart-cycle .uk-width-1-3 img {
  width: 100%;
}
body .ec-chart-cycle .uk-width-2-3 {
  position: relative;
  left: -2.5em;
}
body .ec-chart-cycle .uk-width-2-3 .uk-panel {
  min-height: inherit;
  background-color: #fff;
}
body .ec-chart-cycle .uk-width-2-3 .uk-panel .uk-panel-title {
  position: relative;
}
body .ec-chart-cycle .uk-width-2-3 .uk-panel .uk-panel-title div {
  position: absolute;
  right: 0em;
  top: 0em;
}
body .ec-chart-cycle .uk-width-2-3 .uk-panel p {
  margin: 0em;
}
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info {
  min-height: 40.61em;
}
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info img {
  height: 142px;
}
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info .ec-event-info-main-title {
  position: relative;
}
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info .ec-event-info-main-title div {
  position: absolute;
  right: 0em;
  top: 0em;
}
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info .uk-panel {
  min-height: 40.61em;
}
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info .uk-panel .ec-category-list,
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info .uk-panel .ec-ticket-list {
  padding-left: 0em;
}
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info .uk-panel .ec-category-list li,
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info .uk-panel .ec-ticket-list li {
  display: inline;
}
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info-image > div {
  position: relative;
}
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info-image > div div {
  position: absolute;
  top: 1em;
  right: 1em;
}
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info-image > div div ul > li {
  text-align: center;
  display: inline;
}
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info-image > div div ul > li a {
  color: #fff;
  width: 3em;
}
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info-image > div div ul > li .facebook {
  background-color: #45619D;
}
body #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info-image > div div ul > li .twitter {
  background-color: #3A92C8;
}
@media (min-width: 1020px) {
  #ec-event-info .bo-modal-dialog > .uk-grid .ec-event-info {
    padding-left: 0em;
  }
}
