/* line 1, event.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/event\.charts\.local\/public\/assets\/less\/view\/event\.less}line{font-family:\000031}}
#ec-event-cover-container {
  position: relative;
  height: 30em;
}
/* line 5, event.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/event\.charts\.local\/public\/assets\/less\/view\/event\.less}line{font-family:\000035}}
#ec-event-cover-container #ec-event-detail-org-img-container {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0em;
}
/* line 11, event.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/event\.charts\.local\/public\/assets\/less\/view\/event\.less}line{font-family:\0000311}}
#ec-event-cover-container #ec-event-detail-org-img-container .ec-org-img {
  position: relative;
  top: 7em;
}
/* line 17, event.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/event\.charts\.local\/public\/assets\/less\/view\/event\.less}line{font-family:\0000317}}
#ec-event-cover-container #ec-event-detail-event-title {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0em;
  background-color: rgba(0, 0, 0, 0.35);
}
/* line 27, event.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/event\.charts\.local\/public\/assets\/less\/view\/event\.less}line{font-family:\0000327}}
.ec-event-status {
  background-color: #ffffff;
  width: 100%;
  height: 3em;
}
/* line 34, event.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/event\.charts\.local\/public\/assets\/less\/view\/event\.less}line{font-family:\0000334}}
.ec-left-aside {
  position: relative;
  top: 5em;
}
/* line 44, event.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/event\.charts\.local\/public\/assets\/less\/view\/event\.less}line{font-family:\0000344}}
.ec-event-detail-container .ec-sub-event-menu ul {
  padding: 1em;
  border-bottom: 1px solid #DDDDDD;
}
/* line 47, event.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/event\.charts\.local\/public\/assets\/less\/view\/event\.less}line{font-family:\0000347}}
.ec-event-detail-container .ec-sub-event-menu ul li {
  display: inline;
}
/* line 55, event.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/event\.charts\.local\/public\/assets\/less\/view\/event\.less}line{font-family:\0000355}}
.ec-event-detail-container #ec-event-description {
  font-family: 'Conv_weblysleekuil';
  overflow-y: hidden;
  min-height: 5em;
  max-height: 10em;
  position: relative;
}
/* line 62, event.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/event\.charts\.local\/public\/assets\/less\/view\/event\.less}line{font-family:\0000362}}
.ec-event-detail-container #ec-event-description .ec-description-more {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
/* line 70, event.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/event\.charts\.local\/public\/assets\/less\/view\/event\.less}line{font-family:\0000370}}
.ec-event-detail-container article {
  padding: 1em;
  background-color: #fff;
}
/*# sourceMappingURL=event.css.map */