body
{
	background-color:#F2F2F7;
	#ec-chart-navbar
	{
		.uk-navbar
		{
			background-color:#fff;
			.uk-navbar-brand
			{
				background-color:#AB1F2B;
				img
				{
					width:8em;
				}
			}
			.uk-navbar-nav > li > a 
			{
				font-family: 'Conv_weblysleekuisb';
			}
			.uk-navbar-nav > li > a:hover
			{
				background-color:#C24A46;
				color:#fff;
				font-family: 'Conv_weblysleekuisb';
			}
			.uk-navbar-nav
			{
				li.uk-parent.uk-open > a
				{
					color:#fff;
					background-color:#C24A46;
				}
			}
		}
	}
}